<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385428270493-k3qct8js9mss55bb003jp8l2ct1ci4hi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385428270493-k3qct8js9mss55bb003jp8l2ct1ci4hi</string>
	<key>API_KEY</key>
	<string>AIzaSyDkKUuqy7q36sZ2hTTaq1y7uQK_YnzIyNo</string>
	<key>GCM_SENDER_ID</key>
	<string>385428270493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kub.myApp</string>
	<key>PROJECT_ID</key>
	<string>littlelemon-restaurant</string>
	<key>STORAGE_BUCKET</key>
	<string>littlelemon-restaurant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385428270493:ios:8905b036b40eef60d31374</string>
</dict>
</plist>